header{
    display: flex;
    justify-content:space-between;
    margin-left: 50px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: x-large;
    
}
nav{
    width: 60%;
    margin-top: 10px;
}
li:hover{
    cursor: pointer;
    color: brown;
}
h1{
    width: 20;
    font-weight: normal;
}
.bigimg{
    width: 95vw;
    margin-left:1rem;
    margin-bottom: 3rem;
    
}
.container{
    display: flex;
}
.container>div{
    text-align: center;
    margin: auto;
}
.container>div>p{
    font-size: x-large;
}
footer{
    font: x-large;
    background-color: black;
    margin: 1rem;
    color: aliceblue;
    height: 4rem;
    text-align: center;
}
footer>h3{
    padding: 1rem;
}